.dialog {
  width: 430px;
  height: 330px;
  border: none;
  background-color: #fff;
  opacity: 100%;
  border-radius: 5%;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.dialog__form {
  display: block;
}

.dialog__title {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000;
  margin: 0;
  margin-bottom: 40px;
}

.dialog__input {
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
}

.dialog__input-name {
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.dialog__input-about {
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.dialog__input_type_error {
  border-bottom-color: red;
}

.inputEditName-error {
  visibility: hidden;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.1;
  color: red;
}

.inputEditAbout-error {
  visibility: hidden;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.1;
  color: red;
}
.inputAddTitle-error {
  visibility: hidden;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.1;
  color: red;
}
.inputAddlink-error {
  visibility: hidden;
  display: inline-block;
  height: 30px;
  width: 100%;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.1;
  color: red;
}
.dialog__input_error_active {
  visibility: visible;
}

.dialog__button_submit {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
}

.dialog__button_submit_disabled {
  background-color: #fff;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.dialog__button_submit:hover {
  opacity: 80%;
}
.dialog__cerrar {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.dialog__cerrar:hover {
  opacity: 60%;
}

.dialog__image {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  justify-content: center;
  min-width: fit-content;
  min-height: fit-content;
  padding: 0;
  margin: auto;
  border-radius: 10%;
}

.dialog__image_full {
  border-radius: 20px;
  min-width: 40vw;
  max-width: 75vw;
  max-height: 75vh;
}

.dialog__nameImage {
  margin: 10px 0 0 10px;
  color: #fff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-shadow: 1px 1px black;
}

@media screen and (max-width: 579px) {
  .dialog {
    width: 280px;
    height: 320px;
  }
  .dialog__cerrar {
    width: 20px;
    height: 20px;
    top: -40px;
    right: 10px;
  }
}
