.dialog {
  display: none;
  width: 430px;
  height: 330px;
  border: none;
  background-color: #fff;
  opacity: 100%;
  border-radius: 5%;
  padding: 35px;
}

.dialog__opened {
  display: block;
}

.dialog__form {
  display: block;
}

.dialog__title {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000;
  margin: 0;
  margin-bottom: 40px;
}

.dialog__input-name {
  width: 100%;
  padding-bottom: 13px;
  margin-bottom: 30px;
  color: #000;
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.dialog__input-about {
  width: 100%;
  padding-bottom: 13px;
  margin-bottom: 40px;
  color: #000;
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.dialog__button-save {
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  cursor: pointer;
}

.dialog__button-save-filled {
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

.dialog__button-save-filled:hover {
  opacity: 80%;
}
.dialog__cerrar {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  justify-content: center;
  align-items: center;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.dialog__cerrar:hover {
  opacity: 60%;
}

@media screen and (max-width: 579px) {
  .dialog {
    width: 280px;
    height: 320px;
  }
  .dialog__cerrar {
    width: 20px;
    height: 20px;
    top: -40px;
    right: 10px;
  }
}
