body {
  background-color: #000;
}

.page {
  display: block;
  max-width: 880px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, Arial, sans-serif;
}

@media screen and (max-width: 880px) {
  .page {
    margin: 30px 20px;
  }
}
